body {
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0 2rem 0 2rem;
    justify-content: center;
}

.big{
    font-size: 45px;
} 

.frame {
    border: 1px solid black;
    margin-bottom: 1rem;
}

.header{
    background-color: aqua;
    margin-top: 0;
}

.newPost{
    
}

.posts{

}